* {
margin:0;
}

#wrappper {
margin: 0;
height:2000px;
width:1200px;
}
#header {
width:1200px;
height: 461px;
background-color:black;
}
#content {
height:1000px;
width:1200px;
background-color:#878787;
font-size:30px;
}
#footer { 
height: 461px;
width:1200px;
background-color:black;
font-size:38px;
color:white;
}
#nav {
height:128px; 
width:1200px;
background-color:black;
font-size: 25px;}